<div class="row">
    <div class="col-lg-6">
    	<form role="form">
    		<div class="form-group">
		        {{view Ember.TextField valueBinding="postTitle" placeholder="Post title..." class="form-control"}}
		    </div>
		    <div class="form-group">
		        {{view Ember.TextArea valueBinding="postContent" placeholder="Write something here..." class="form-control post-content"}}
		    </div>
		</form>
        <button class="btn btn-info" {{action "publishPost"}}>Publish Post</button>
   	</div>
   	<div class="col-lg-6">
        <div class="markdown-preview">
        	<h1 class="post-title">{{postTitle}}</h1>
        	{{format-markdown postContent}}
        </div>
    </div>
</div>